@font-face {
    font-family: 'recursive';
    src: url(../fonts/Recursive_Casual-Regular.ttf);
}

@font-face {
    font-family: 'lsvPlaySchool';
    src: url(../fonts/lsvPlaySchool.ttf);
}

@font-face {
    font-family: 'articalAdda';
    src: url(../fonts/wizzta.ttf);
}